BASE_URL=/inventory/api
PORT=3000
SWAGGER_URL=/inventory/swagger

# # DB dev

#Database
DB_HOST=localhost
DB_PORT=27017
DB_NAME=inventory-dat-my
DB_USERNAME=admin
DB_PASSWORD='admin'

# jwt
JWT_ACCESS_TOKEN_PRIVATE_KEY=project-inventory-dat-my
JWT_ACCESS_TOKEN_EXPIRES=36000

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD='siginx'